<html>
<head>
    <title>$passage: ESV</title>
    <style>
        .esv {
            width: 35em;
            margin: 0px auto;
            text-align: justify;
            font-family: "$font";
            sans;
        }

        span.verse-num {
            font-family: serif;
            font-weight: light;
            vertical-align: super;
            font-size: 70%;
        }

        span.chapter-num {
            font-family: serif;
            font-weight: bold;
            vertical-align: super;
            font-size: 90%;
        }

        .footnotes {
            font-size: 70%;
            color: #555555;
        }
    </style>
</head>
<body>
$content
</body>
</html>
