<html>
<head>
    <title>$passage.title()</title>
    <style>
        body {
            width: 35em;
            margin: 0px auto;
            text-align: justify;
            font-family: "$font";
            sans;
        }

        b.verse {
            font-family: serif;
            font-weight: light;
            vertical-align: super;
            font-size: 70%;
        }
    </style>
</head>
<body>
<h2>$passage.title()</h2>
$content
</body>
</html>
